
.jumbotron  {
    background-image: url("coverb.gif");
    color: #ffffff;
}

.container-fluid {
    padding: 60px 50px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
    text-align: center;
    margin: 25px 0;
    }
}

input[placeholder=Search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[placeholder=Search]:focus {
    width: 100%;
}

.blog-header {
    border-style: none;
    background-color: lightgrey;
    padding: 0px 0px 0px 10px;
    margin: auto;
}