<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="angular-qrcode.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="lib.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="blockchain.css">
    <link rel="stylesheet" href="main.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1098606495064932",
        enable_page_level_ads: true
        });
    </script>
</head>
<head>
    <title>ECDSA Key Pair to Address</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TRUSTBOOK</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="index.html#about">ABOUT</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                        <ul class="dropdown-menu">
                            <li><a href="PrvK2WIF_Main_SPA.html">Bitcoin Private key to WIF</a></li>
                            <li><a href="bcStatsPage.html">Bitcoin Popular Stats</a></li>
                            <li><a href="bcCalculator.html">Bitcoin Calculator</a></li>
                            <li><a href="bcAddGen.html">Bitcoin Address Test</a></li>
                            <li><a href="brainWallet.html">Bitcoin Brain Wallet Test</a></li>
                            <li><a href="bcHDWallet.html">Bitcoin BIP32 HD Wallet Test</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#contact">CONTACT</a></li>
                </ul>
                
                <div id="App1" ng-app="searchApp" ng-controller="searchEngineCtrl">
                    <form class="navbar-form navbar-right" ng-submit="searchEngineFirer()">
                        <div class="form-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search" ng-model="keyWords">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
        <h1>TRUSTBOOK</h1>
        <p>We specialize in Blockchain and Cryptocurrency</p>
    </div>

    <div id="BCaddress" class="container" ng-app="indexApp">
        <h3>Bitcoin ECDSA Key Pair to <a href="" data-toggle="tooltip" data-placement="auto" title="A Bitcoin address represents a possible destination for a bitcoin payment.">Address</a> </h3>

        <div ng-controller="bcAddTestCtrl"> 
            <form ng-submit="bcAddTestRandom()">
                <div class="form-group">
                    <input type="submit" value="Random" />
                </div>
            </form> 
            
            <form ng-submit="bcAddTestConvert()">                                    
                <div class="form-group">
                    <label for="prvKey">0 - Private ECDSA key</label>
                    <input type='text' class="form-control" name='prvKey' ng-model="prvKey" />
                    <input type="submit" value="Convert" /> 
                </div>
            </form>
            
            <form>
                <div class="form-group">
                    <label for="pubKey">1 - Public ECDSA key</label>
                    <input type='text' class="form-control" id='pubKey' name='pubKey' ng-model="pubKey" />
                </div>
                        
                <div class="form-group">
                    <label for="firstSHA256">2 - SHA-256 hash of 1</label>  
                    <input type='text' class="form-control" id='firstSHA256' name='firstSHA256' ng-model="firstSHA256" />
                </div>
                                
                <div class="form-group">
                    <label for="RIPEMD160">3 - RIPEMD-160 Hash of 2</label>  
                    <input type='text' class="form-control" id='RIPEMD160' name='RIPEMD160' ng-model="RIPEMD160" />
                </div>
                
                <div class="form-group">
                    <label for="netByte">4 - Adding <a href="" data-toggle="tooltip" title="">network bytes</a> to 3</label>
                    <input type='text' class="form-control" id='netByte' name='netByte' ng-model="netByte" />
                </div>

                <div class="form-group">
                    <label for="secondSHA256">5 - SHA-256 hash of 4</label>
                    <input type='text' class="form-control" id='secondSHA256' name='secondSHA256' ng-model="secondSHA256" />
                </div>

                <div class="form-group">
                    <label for="thirdSHA256">6 - SHA-256 hash of 5</label>
                    <input type='text' class="form-control" id='thirdSHA256' name='thirdSHA256' ng-model="thirdSHA256" />
                </div>
            </form> 

            <label for="CKHSUM">7 - First 4 bytes of 6, this is the checksum</label>
            <form>
                <div class="form-group">
                    <input type='text' class="form-control" name='CKHSUM' ng-model="CKHSUM" />
                </div>
            </form>

            <label for="fullAddress">8 - Adding 7 at the end of 4</label>
            <form>
                <div class="form-group">
                    <input type='text' class="form-control" name='fullAddress' ng-model="fullAddress" />
                </div>
            </form>

            <label for="address">9 - Base58 encoding of 8</label>
            <form>
                <div class="form-group">
                    <input type='text' class="form-control" name='address' name='address' ng-model="address" />
                </div>
            </form> 
        </div>    

    </div>
    <br>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>