<!DOCTYPE html>
<html lang="en">

<head>
    <title>BIP32 Hierarchical Deterministic Key Generator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="blockchain.css">
    <style>
        body  {
            background-image: none;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="bcHDWalletCtrl">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="bip32">
                <form class="form-horizontal">
                    <fieldset>
                        <legend><a href="" data-toggle="tooltip" data-placement="auto" title="A enhanced Bitcoin address represents a possible destination for a bitcoin payment.">BIP32 Hierarchical Deterministic Key</a> Generator</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="from_pass" >Derive From</label>
                            <div class="col-lg-10">
                                <div class="btn-group" id="gen_from">
                                    <label title="Single SHA256"><input type="radio" id="from_pass" ng-change="updateGenFrom()" ng-model="gen_from" value="passphrase" ng-checked="true"/>Passphrase</label>
                                    <label title="Base58-encoded"><input type="radio" id="from_key" ng-change="updateGenFrom()" ng-model="gen_from" value="bip32key" />BIP32 Key</label>
                                </div>
                                &nbsp;&nbsp;<span class="help-inline">{{gen_from_msg}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="bip32_source_passphrase">Passphrase</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <input class="form-control" type="password" ng-readonly="bPassPhrase" id="bip32_source_passphrase" ng-change="hdKeyGenFromPass()" ng-model="bip32_source_passphrase"/>
                                            <div class="input-group-addon" style="height: 34px;">
                                                <input type="checkbox" ng-model="checkbox_show_passphrase" ng-change="checkboxShowPassphrase()"/> Show Passphrase
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p />
                                <div class="row" >
                                    <div class="col-lg-12">
                                        <div class="progress progress-striped" id="bip32_hashing_style" style="margin-bottom: 10px;">
                                            <div class="progress-bar" style="width: 0%;" id="bip32_hashing_progress_bar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="btn btn-default" title="Cancel" type="button" value="Cancel slow hash and use weak hash instead" id="cancel_hash_worker" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="bip32SourceKey">BIP32 Extended Private Key</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="form-control" type="text" ng-readonly="truefalse" ng-change="hdWalletGen()" ng-model="bip32SourceKey" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="bip32_key_info">Key Info</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label" id="bip32_key_info_title">Bitcoin Master Private Key</label>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Version</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" disabled ng-model="version"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Depth</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" ng-model="depth" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Parent Fingerprint</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" ng-model="fingerPrint" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Child Index</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" ng-model="childIndex" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Chain Code</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" ng-model="chainCode" disabled />
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2 control-label">Key</div>
                                        <div class="col-lg-10 col-lg-10-inner">
                                            <input class="form-control" ng-model="bip32KeyInfoKey" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="extpubkeys_from_group">
                            <label class="col-lg-2 control-label" for="bip32_derivation_path">Derivation Path</label>
                            <div class="col-lg-10">
                                <select  class="form-control" ng-change="selectDerivedPath()" ng-model="bip32_derivation_path" >
                                    <option value="m">Info: m</option>
                                    <option value="m/i">Simple: m/i</option>
                                    <option value="m/k'/0" >External account (master): m/k'/0</option>
                                    <option value="m/k'/0/i">External account i'th keypair: m/k'/0/i</option>
                                    <option value="m/k'/1">Internal account (master): m/k'/1</option>
                                    <option value="m/k'/1/i">Internal account i'th keypair: m/k'/1/i</option>
                                    <option value="custom" selected>Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="custom_group" ng-hide="bCustomePath">
                            <label class="col-lg-2 control-label" for="bip32_custom_path">Custom Path</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input class="form-control" ng-change="derivedHDWalletGen()" ng-model="bip32_custom_path" type="text" placeholder="m/i" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="account_group" ng-hide="bAccount" >
                            <label class="col-lg-2 control-label" for="account_index">Account (k)</label>
                            <div class="col-lg-10">
                                <input class="form-control" maxlength="10" type="text" value="0" ng-model="account_index" />
                            </div>
                        </div>
                        <div class="form-group" id="child_group" ng-hide="bKeypairIndex">
                            <label class="col-lg-2 control-label" for="keypair_index">Keypair Index (i)</label>
                            <div class="col-lg-10">
                                <input class="form-control" maxlength="10" type="text" value="0" ng-model="keypair_index" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="derived_private_key">Derived Private Key</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="derived_private_key" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="derived_private_key_wif">Private Key (WIF)</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="derived_wif" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="derived_public_key">Derived Public Key</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="derived_public_key" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="derived_public_key_hex">Public Key (Hex)</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="derived_public_key_hex" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="addr">Address</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="addr" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="genAddrQR">Address QR Code</label>
                            <div class="col-lg-10">
                                <a href="" ng-attr-title="{{qrShortDesc}}" ><qrcode data="{{qrCode}}" size="150"></qrcode></a>
                                <!-- <a href="" ng-attr-title="{{qrShortDesc}}" ><img ng-src={{qrCode}} alt="qrcode" ></a> -->
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div> 
        </div>
    </div>
    <br>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>