<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular-qrcode.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="lib.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="blockchain.css">
    <link rel="stylesheet" href="main.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1098606495064932",
        enable_page_level_ads: true
        });
    </script>
</head>    
<head>
    <title>Bitcoin Popular Stats</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TRUSTBOOK</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="index.html#about">ABOUT</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                        <ul class="dropdown-menu">
                            <li><a href="PrvK2WIF_Main_SPA.html">Bitcoin Private key to WIF</a></li>
                            <li><a href="bcStatsPage.html">Bitcoin Popular Stats</a></li>
                            <li><a href="bcCalculator.html">Bitcoin Calculator</a></li>
                            <li><a href="bcAddGen.html">Bitcoin Address Test</a></li>
                            <li><a href="brainWallet.html">Bitcoin Brain Wallet Test</a></li>
                            <li><a href="bcHDWallet.html">Bitcoin BIP32 HD Wallet Test</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#contact">CONTACT</a></li>
                </ul>
                
                <div id="App1" ng-app="searchApp" ng-controller="searchEngineCtrl">
                    <form class="navbar-form navbar-right" ng-submit="searchEngineFirer()">
                        <div class="form-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search" ng-model="keyWords">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
        <h1>TRUSTBOOK</h1>
        <p>We specialize in Blockchain and Cryptocurrency</p>
    </div>

    <div id="bcStats" class="container container-fake" ng-app="indexApp" ng-controller="bcStatsCtrl">
        <h2 class="text-center">Popular Stats of Bitcoin</h2>

        <div class="row">

            <div class="col-md-3 center flex-column popular">
                <span class="mt-10 blue f-20">Market Price (USD)</span>
                <a href="" class="flex-column center mv-50">
                    <span class="f-48">$<span ng-model="marketPrice" ></span>{{marketPrice}}</span>
                    <span>USD</span>
                </a>
                <span class="f-14">Average USD market price across major bitcoin exchanges.</span>
            </div>

            <div class="col-md-3 center flex-column popular">
                <span class="mt-10 blue f-20">Average Block Size</span>
                    <a href="" class="flex-column center mv-50">
                        <span class="f-48" >{{blockSize}}</span>
                        <span>Megabytes</span>
                    </a>
                <span class="f-14">The 24 hour average block size in MB.</span>
            </div>

            <div class="col-md-3 center flex-column popular">
                <!-- Needs Translation --><span class="mt-10 blue f-20">Transactions per Day</span><!-- Needs Translation -->
                    <a href="" class="flex-column center mv-50">
                        <span class="f-48" >{{txPerDay}}</span>
                        <span>Transactions</span>
                    </a>
                <span class="f-14">The aggregate number of confirmed Bitcoin transactions in the past 24 hours.</span>
            </div>

            <div class="col-md-3 center flex-column popular">
                <span class="mt-10 blue f-20">Mempool Size</span>
                    <a href="" class="flex-column center mv-50">
                        <span class="f-48" >{{mempoolSize}}</span>
                        <span>Bytes</span>
                    </a>
                <span class="f-14">The aggregate size of transactions waiting to be confirmed.</span>
            </div>

        </div>
    </div>
    <br>
    
</body>
</html>