
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="blockchain.css">
    <style>
        body  {
            background-image: none;
        }
    </style>
</head>
<body>

<!-- Container (Contact Section) -->
    <div class="container-fluid bg-grey" ng-controller="contactCtrl" id="contact">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Ho Chi Minh, Viet Nam</p>
                <p><span class="glyphicon glyphicon-phone"></span> +84 937011159</p>
                <p><span class="glyphicon glyphicon-envelope"></span> goon2006@gmail.com</p>
            </div>
            <div class="col-sm-7 slideanim">
                <form ng-submit="contactSubmit()">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" ng-model="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" ng-model="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" ng-model="comment" name="comment" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit" >Send</button>
                        </div>
                    </div>
                </form>
                <h3>{{messageConfirm}}</h3>
            </div>
        </div>
    </div>
</body>
</html>  