<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular-qrcode.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="lib.min.js" ></script>
    <script>
        $(function(){
            $("#includedContentDiv").load("nav_template.html"); 
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="blockchain.css">
    <link rel="stylesheet" href="main.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1098606495064932",
        enable_page_level_ads: true
        });
    </script>
</head>  

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TRUSTBOOK</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                        <ul class="dropdown-menu">
                            <li><a href="PrvK2WIF_Main_SPA.html">Bitcoin Private key to WIF</a></li>
                            <li><a href="bcStatsPage.html">Bitcoin Popular Stats</a></li>
                            <li><a href="bcCalculator.html">Bitcoin Calculator</a></li>
                            <li><a href="bcAddGen.html">Bitcoin Address Test</a></li>
                            <li><a href="brainWallet.html">Bitcoin Brain Wallet Test</a></li>
                            <li><a href="bcHDWallet.html">Bitcoin BIP32 HD Wallet Test</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
                
                <div id="App1" ng-app="searchApp" ng-controller="searchEngineCtrl">
                <!-- <div>     -->
                    <form class="navbar-form navbar-right" ng-submit="searchEngineFirer()">
                        <div class="form-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search" ng-model="keyWords">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>TRUSTBOOK</h1>
        <p>We specialize in Blockchain and Cryptocurrency</p>
    </div>
    
    <div>
        <!-- Container (About Section) -->
        <div id="about" class="container-fluid" >
            <div class="row">
                <div class="col-sm-12">
                    <h2>About Trustbook Page</h2>
                    <h3>This site offers Bitcoin, Blockchain tools and realtime data for developers and users who are interested in Bitcoin and Blockchain technology.</h3>
                    <h3>As you know, the core technology of Bitcoin called Blockchain, all the transaction information on Bitcoin blockchain are not stored in any centralized server but they are available on every full nodes of Bitcoin network. This decentralized Bitcoin network and all the algorithms using in Bitcoin Blockchain will protect sensive data of transactions and user from fraud and any manipulation activities of malicious person or group.</h3>
                    <h3>Our mission are to propagate Blockchain technology to many people as musch as possible, help them understanding the useful of Bitcoin/Blockchain in our daily life and explore the potential applications behind the Blockchain technology.</h3>
                </div>
            </div>
        </div>

        <!-- Container (Contact Section) -->   
        <div id="contact" class="container-fluid bg-grey" ng-app="indexApp" ng-controller="contactCtrl" >
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Ho Chi Minh, Viet Nam</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +84 937011159</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> goon2006@gmail.com</p>
                </div>
                <div class="col-sm-7 slideanim">
                    <form ng-submit="contactSubmit()">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" ng-model="name" name="name" placeholder="Name" type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" ng-model="email" name="email" placeholder="Email" type="email" required>
                            </div>
                        </div>
                        <textarea class="form-control" ng-model="comment" name="comment" placeholder="Comment" rows="5"></textarea><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-default pull-right" type="submit" >Send</button>
                            </div>
                        </div>
                    </form>
                    <h3>{{messageConfirm}}</h3>
                </div>
            </div>
        </div>
    </div>


</body>
<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</footer>
</html>
