<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular-qrcode.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="lib.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="blockchain.css">
    <link rel="stylesheet" href="main.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1098606495064932",
        enable_page_level_ads: true
        });
    </script>
    <!-- For HTML5 mode of angularjs -->
    <base href="/index.html"> 
</head>  
<head>
    <title>Search result</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TRUSTBOOK</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="index.html#about">ABOUT</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
                        <ul class="dropdown-menu">
                            <li><a href="PrvK2WIF_Main_SPA.html">Bitcoin Private key to WIF</a></li>
                            <li><a href="bcStatsPage.html">Bitcoin Popular Stats</a></li>
                            <li><a href="bcCalculator.html">Bitcoin Calculator</a></li>
                            <li><a href="bcAddGen.html">Bitcoin Address Test</a></li>
                            <li><a href="brainWallet.html">Bitcoin Brain Wallet Test</a></li>
                            <li><a href="bcHDWallet.html">Bitcoin BIP32 HD Wallet Test</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#contact">CONTACT</a></li>
                </ul>
                
                <div id="App1" ng-app="searchApp" ng-controller="searchEngineCtrl">
                    <form class="navbar-form navbar-right" ng-submit="searchEngineFirer()">
                        <div class="form-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search" ng-model="keyWords">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
        <h1>TRUSTBOOK</h1>
        <p>We specialize in Blockchain and Cryptocurrency</p>
    </div>

    <div id="wif" class="container" ng-app="indexApp">
        <h3>Bitcoin Private key to <a href="" data-toggle="tooltip" title="Wallet Import Format (WIF, also known as Wallet Export Format) is a way of encoding a private ECDSA key so as to make it easier to copy.">wallet import format (WIF)</a> </h3>
    
        <div class="blurb" ng-controller="prk2WifCtrl">       
            <div ng-controller="prK2WifRandomCtrl"  > 

                <form ng-submit="prvK2WifRandom()" > 
                    <input type="submit" value="Random"/>
                </form>
            
                <form ng-submit="prvK2WifConvert()">
                    <div class="form-group">
                        <label for="prvKey">1 - Private key</label>
                        <input type='text' class="form-control" name='prvKey' ng-model="prvKey"/>
                        <input type="submit" value="Convert" />
                    </div>
                </form>
            
                <form>
                    <div class="form-group">
                        <label for="extPrvKey">2 - Add 0x80 byte to the front of 1 for mainnet addresses</label>
                        <input type='text' class="form-control" ng-model="extPrvKey" />
                    </div>
                </form>
            
                <form>
                    <div class="form-group">
                        <label for="firstSHA256">3 - SHA-256 hash of 2</label>
                        <input type='text' class="form-control"  ng-model="firstSHA256"/>
                    </div>
                </form>
            
                <form>
                    <div class="form-group">
                        <label for="secondSHA256">4 - SHA-256 hash of 3</label>
                        <input type='text' class="form-control"  ng-model="secondSHA256" />
                    </div>
                </form>
            
                <form>
                    <div class="form-group">
                        <label for="CKHSUM">5 - First 4 bytes of 4, this is the checksum</label>
                        <input type='text' class="form-control"  ng-model="CKHSUM" />
                    </div>
                </form>
            
                <form>
                    <div class="form-group">
                        <label for="extPrKeyCKHSUM">6 - Adding 5 at the end of 2</label>
                        <input type='text' class="form-control"  ng-model="extPrKeyCKHSUM" />
                    </div>
                </form>
        
                <form>
                    <div class="form-group">
                        <label for="secondSHA256">7 - Base58 encoding of 6</label>
                        <input type='text' class="form-control"  ng-model="wif" />
                    </div>
                </form>
            </div> 

        </div><!-- /.blurb -->

    </div>
    <br>
    
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>
</html>